
<form id="panel" class="Form" action="" method="post">
	
    <div class="field">
	<h3>   Подача заявки</h3>
		<label>Адрес:</label>
		<label id="remember">Свой адрес<input name="" type="checkbox" value=""/></label>
        <label>Улица:</label>
        <div class="input"><input type="text" name="" value="" id="street" /></div>
    </div>
	<div class="field">
        <label>Дом:</label>
        <div class="input"><input type="text" name="" value="" id="house" /></div>
    </div>
    <div class="field">
        <label>Квартира:</label>
        <div class="input"><input type="text" name="" value="" id="kv" /></div>
    </div>
	<div class="field">
        <label>Телефон:</label>
        <div class="input"><input type="text" name="" value="" id="phone" /></div>
    </div>
	<div class="field">
        <label>Вид проблемы:</label>
        <div class="input"><input type="text" name="" value="" id="problem" /></div>
    </div>
	<div class="field">
        <label>Описание проблемы:</label>
        <div class="input"><input type="text" cols="40" rows="3" name="" value="" id="problem" /></div>
    </div>
    <div class="submit">
        <button type="submit">Загрузить</button>
    </div>
</form>