#map 
{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

#panel 
{
    position: relative;
    float: right;
    z-index: 2;
}

.leaflet-control
{
    margin-top:80px !important;
}
    
.navbar
{
    z-index: 3;
}